.wrapper {
  position: static;
}

.main__content-wrapper {
  /* margin: 0 auto; */
  position: relative;
}

.container {
  position: relative;
  width: calc(100% - 170px);
  left: 171px;
  height: 100vh;
  /* border: 1px solid #eeeeee; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  border: none;
  width: 30%;
  min-height: 66px;
  padding: 22px;
  color: #000000;
}

.header__search::placeholder {
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
}

.header__nav {
  display: flex;
  margin-left: auto;
}

.header__button {
  border: none;
  outline: none;
  display: inline-block;
  width: 67px;
  padding: 33px 0;
  background-color: #fff;
  border-left: 1px solid #0f1e364d;
  cursor: pointer;
}

.header__profile {
  border-left: 1px solid #0f1e364d;
  padding: 16px 110px 15px 23px;
  /* margin: 0 112px 0 0; */
  cursor: pointer;
}

.tv:hover {
  -webkit-transform: translate(10px);
  transform: translate(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.radio:hover {
  -webkit-transform: translate(10px);
  transform: translate(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.bell:hover {
  -webkit-transform: translate(10px);
  transform: translate(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.tv,
.radio,
.bell {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tv {
  background-image: url(../icons/tv.svg);
}

.radio {
  background-image: url(../icons/radio.svg);
}

.bell {
  background-image: url(../icons/bell.svg);
}

.clear {
  clear: both;
}

.albums {
  padding: 24px 0 24px 20px;
}

.albums > h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #0f1e36;
  margin: 0 0 14px 0;
}

.albums__wrapper {
  display: flex;
  overflow: scroll;
}

.albums__wrapper > .album {
  cursor: pointer;
}

.albums__wrapper > .album:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.albums__wrapper::-webkit-scrollbar {
  display: none;
}

.album {
  flex-shrink: 0;
  width: 112px;
  margin: 0 20px 0 0;
}

.album > h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #0f1e36;
}

.album > span {
  font-size: 10px;
  line-height: 14px;
  color: #0f1e36;
  opacity: 0.48;
}

.album_img {
  margin: 0 0 8px 0;
}

.album__img1 {
  width: 100%;
  height: 112px;
  background: url(../img/Jonas_Brothers.png) no-repeat center/cover;
}

.album__img2 {
  width: 100%;
  height: 112px;
  background: url(../img/Ed_Sheeran.png) no-repeat center/cover;
}

.album__img3 {
  width: 100%;
  height: 112px;
  background: url(../img/Lil_Nas.png) no-repeat center/cover;
}

.album__img4 {
  width: 100%;
  height: 112px;
  background: url(../img/Feydee.png) no-repeat center/cover;
}

.album__img5 {
  width: 100%;
  height: 112px;
  background: url(../img/Faydee.png) no-repeat center/cover;
}

.album__img6 {
  width: 100%;
  height: 112px;
  background: url(../img/Bilionera.png) no-repeat center/cover;
}

.album__img7 {
  width: 100%;
  height: 112px;
  background: url(../img/DDY_Nunes.jpg) no-repeat center/cover;
}

.slider {
  padding: 92px 0 48px 52px;
  height: 400px;
  /* width: 100%; */
  background: url(../img/Slider_girl.png) no-repeat center/cover;
}

.slider__category {
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  margin: 0 0 7px 0;
}

.slider__heading {
  width: 250px;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 0 7px 0;
}

.slider__song {
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
}

.slider_wrapper {
  margin: 0 0 43px 0;
}

.slider__buttons {
  display: flex;
}

.slider__button_play,
.slider__button_share {
  height: 22px;
  background: #ffffff;
  box-shadow: 0px 2px 8px #bc1428;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.slider__button_play {
  width: 62px;
  margin: 0 8px 0 0;
}

.slider__play_img {
  padding: 0 0 1px 0;
}

.slider__button_share {
  width: 30px;
}

.slider__share_img {
  padding: 2px 0 0 0;
}

.tracks {
  padding: 0 20px;
}

.tracks > h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #0f1e36;
  margin: 0 0 14px 0;
}

.tracks__header {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: 16px;
}

.tracks__scroll {
  height: calc(100vh - 974px);
  overflow: scroll;
}

.tracks__scroll::-webkit-scrollbar {
  display: none;
}

.track {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(15, 30, 54, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.track:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.tracks__header div {
  flex-shrink: 1;
  flex-grow: 1;
}

.track div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 178px;
}

.tracks__header > div:nth-child(1) {
  flex-basis: 176px;
}

.tracks__header > div:nth-child(2) {
  flex-basis: 160px;
}

.tracks__header > div:nth-child(3) {
  flex-basis: 168px;
}

.tracks__header > div:nth-child(4) {
  flex-basis: 158px;
}

.tracks__header > div:nth-child(5) {
  flex-basis: 176px;
}

.tracks__header > div:nth-child(6) {
  flex-basis: 156px;
}

.tracks__header > div:nth-child(7) {
  flex-basis: 178px;
}

.tracks__header > div:nth-child(8) {
  flex-basis: 178px;
}

.tracks__header > div:nth-child(9) {
  flex-basis: 178px;
}

.track__singer_mobile,
.track__image_mobil {
  display: none;
}

.footer_player {
  position: absolute;
  bottom: 0;
  left: 0;
}

.icons_player {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f1e36;
}

.icon_loading {
  padding: 23px 0 24px 23px;
}

.icon_options {
  padding: 0 0 0 31px;
}

.icon_left {
  padding: 0 0 0 56px;
}

.icon_eclipse {
  padding: 0 0 0 23px;
}

.icon_right {
  padding: 0 0 0 23px;
}

.icon_time_start {
  padding: 0 0 0 43px;
}

.icon_line {
  padding: 0 0 0 11px;
}

.icon_line {
  margin: 0 0 2px 0;
}

.icon_time_end {
  padding: 0 0 0 11px;
}

.icon_time_louder {
  padding: 0 0 0 62px;
}

.icon_window {
  padding: 0 31px 0 43px;
}
