.menu {
  margin-left: auto;
  width: 170px;
  position: fixed;
  left: auto;
  border-right: 1px solid #eeeeee;
  background: #ffffff;
  height: 100vh;
}

.menu_wrapper {
  padding: 24px;
}

h3.Playlist:after {
  content: url(/assets/icons/plus.svg);
  margin: 0 0 0 70px;
}

.Playlist {
  cursor: pointer;
}

.Playlist:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.menu_navigation > ul > li {
  cursor: pointer;
}

.menu_navigation > ul > li:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.menu_navigation {
  font-size: 12px;
  color: #0f1e36;
}

.logo {
  margin: 0 0 42px 0;
}

.menu_navigation ul li span {
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0 15px;
}
.menu_navigation ul li {
  margin: 0 0 24px 0;
}

.menu_navigation ul li img {
  width: 17px;
  height: 16px;
}

.menu_navigation h3 {
  font-weight: 600;
  margin: 0 0 18px 0;
}

.menu_singer {
  background: #f51e38;
  padding: 12px 6px 10px 22px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}

.menu_singer_track {
  display: inline-block;
  width: 94px;
  vertical-align: top;
  padding: 6px 0 0 4px;
}

.menu_singer_name {
  font-size: 12px;
  color: #ffffff;
  padding: 0 0 2px 0;
}

.menu_singer_track_name {
  font-size: 10px;
  color: #f79da8;
}

.menu_singer_img {
  width: 40px;
  height: 40px;
}

.footer_player {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.icons_player {
  display: flex;
  align-items: center;
  background: #0f1e36;
}

.icon_loading {
  padding: 24px 0 24px 23px;
}

.icon_options {
  padding: 0 0 0 31px;
}

.icon_left {
  padding: 0 0 0 56px;
}

.icon_eclipse {
  padding: 0 0 0 23px;
}

.icon_right {
  padding: 0 0 0 23px;
}

.icon_time_start {
  padding: 0 0 0 43px;
}

.icon_line {
  padding: 0 0 0 11px;
}

.icon_line {
  margin: 0 0 2px 0;
}

.icon_time_end {
  padding: 0 0 0 11px;
}

.icon_time_louder {
  padding: 0 0 0 62px;
}

.icon_window {
  padding: 0 31px 0 43px;
}
